<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <title>template layout</title>
</head>
<body>
  <header>
    <div class="logo">D viewer</div>
    <ul class="menu nav">
      <li>home</li>
      <li>user</li>
      <li>menu</li>
    </ul>
    <div class="user_info">김규표</div>
  </header>
  <main>
    <nav class="side menu nav">
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
      </ul>
    </nav>
    <section class="contents">
      <nav class="page nav">pager nav</nav>
      <section>1</section>
      <section>2</section>
      <section>3</section>
    </section>
  </main>
  <footer>홈페이지 소개</footer>
</body>
</html>